<footer class="footer">
	<div class="container">
		<div class="footer-about">
			<h4 class="footer-title">About Us</h4>
			<p class="footer-text">Spacewolff is an online marketplace connecting advertisers and owners of ad space. Small and large businesses, individuals, publishers, and content creators can create and sell space across multiple channels. Advertisers and can easily search and sort ad space to identify channels that reach 
their specific target market and place ads directly through the site. Spacewolff was founded in 2016 and is based in Miami, Florida.</p>
		</div>

		<div class="footer-menu">
			<h4 class="footer-title">Spacewolff</h4>
			<ul>
				<li><a href="#" class="footer-text footer-link">Marketplace</a></li>
				<li><a href="#" class="footer-text footer-link">About Company</a></li>
				<li><a href="#" class="footer-text footer-link">FAQs</a></li>
				<li><a href="#" class="footer-text footer-link">Blog</a></li>
				<li><a href="#" class="footer-text footer-link">Contact</a></li>
			</ul>
		</div>

		<div class="footer-legal">
			<h4 class="footer-title">Legal</h4>
			<ul>
				<li><a href="#" class="footer-text footer-link">Privacy Policy</a></li>
				<li><a href="#" class="footer-text footer-link">Terms of Use</a></li>
				<li><a href="#" class="footer-text footer-link">Payment and Refund Policy</a></li>
			</ul>
		</div>

		<div class="footer-social">
			<h4 class="footer-title">Follow Us</h4>
			<a href="#" class="footer-text footer-social__link"><i class="fa fa-facebook" aria-hidden="true"></i></a>
			<a href="#" class="footer-text footer-social__link"><i class="fa fa-twitter" aria-hidden="true"></i></a>
			<a href="#" class="footer-text footer-social__link"><i class="fa fa-instagram" aria-hidden="true"></i>
			</a>
		</div>
	</div>
	<p class="footer-copyright">&#169; 2017 Copyright - Spacewollf, LLC.</p>
</footer>