<header class="header">
	<div class="container">
		<a href="#" class="logo">
			<img src="img/logo.png" alt="logo-spacewolf">
		</a>
		<nav class="nav">
			<ul class="nav-menu">
				<li class="nav-menu-item"><a href="#">About</a></li>
				<li class="nav-menu-item"><a href="#">Marketplace</a></li>
				<li class="nav-menu-item"><a href="#">Contact</a></li>
			</ul>
			<a href="#" class="nav-link">LOG In</a>
			<a href="#" class="nav-link">sign up</a>
		</nav>

		<div class="hamburger">
  			<div class="hamburger-icon"><span></span></div>
		</div>

		<div class="menu-mobile">
			<ul>
				<li class="nav-menu-item"><a href="#">About</a></li>
				<li class="nav-menu-item"><a href="#">Marketplace</a></li>
				<li class="nav-menu-item"><a href="#">Contact</a></li>
			</ul>
			<a href="#" class="nav-link">LOG In</a>
			<a href="#" class="nav-link">sign up</a>
		</div>
	</div>
</header>