<div class="make-advertising">
	<div class="container">
		<h2 class="title">we make advertising simple</h2>
		<div class="make-wrapper">
			<img src="img/advertisingIframe.png" alt="advertising-iframe">
			<div class="make-advertising__content">
				<p>Find ad space that reaches your targeted audience and place ads directly through the site. Monetize your space by selling it to the advertisers on the site.</p>
				<p>View your user dashboard to see how much you’ve earned and how much you’ve spent.</p>
				<a href="#" class="make-advertising__link button-primary">get started</a>
			</div>
		</div>
	</div>
</div>