<div class="services">
	<div class="row-reverse">
		<img src="img/services-1.jpg" alt="services-1">
		<div class="services-info">
			<h2 class="title">Sell Your Excess Space to Advertisers</h2>
			<p>Donec eu egestas massa. Pellentesque viverra viverra tellus, non tempor libero lobortis vel. Mauris nec sollicitudin velit. Nam dui nibh, consequat sed dolor non, commodo consequat felis. Maecenas aliquet arcu id mattis vestibulum. Donec in lacus pulvinar, posuere magna ac, tempor quam. Aenean iaculis mi ac sapien.</p>
			<ul>
				<li>Aenean iaculis mi ac sapien mollis, posuere semper nibh finibus.</li>
				<li>Suspendisse pharetra elit ut neque viverra condimentum.</li>
				<li>Cras nec lorem a nisl auctor sodales sed sed quam posuere semper.</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<img src="img/services-2.jpg" alt="services-1">
		<div class="services-info">
			<h2 class="title">Place Ads Directly Through Spacewolff</h2>
			<p>Donec eu egestas massa. Pellentesque viverra viverra tellus, non tempor libero lobortis vel. Mauris nec sollicitudin velit. Nam dui nibh, consequat sed dolor non, commodo consequat felis. Maecenas aliquet arcu id mattis vestibulum. Donec in lacus pulvinar, posuere magna ac, tempor quam. Aenean iaculis mi ac sapien.</p>
			<ul>
				<li>Aenean iaculis mi ac sapien mollis, posuere semper nibh finibus.</li>
				<li>Suspendisse pharetra elit ut neque viverra condimentum.</li>
				<li>Cras nec lorem a nisl auctor sodales sed sed quam posuere semper.</li>
			</ul>
		</div>
	</div>
</div>