{% set
whyItem = [
	{
		icon: 'img/mouse.png',
		title: 'Easy to Use',
		info: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.'
	},
	{
		icon: 'img/time.png',
		title: 'Save Your Time',
		info: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.'
	},
	{
		icon: 'img/effective.png',
		title: 'Effective',
		info: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.'
	}
] 
%}

{% set
howItem = [
	{
		icon: 'img/account.png',
		title: 'Create an Account',
		info: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut dolore magna aliqua.'
	},
	{
		icon: 'img/search.png',
		title: 'Search For Ad Space',
		info: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut dolore magna aliqua.'
	},
	{
		icon: 'img/apply.png',
		title: 'Apply For Ad Space',
		info: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut dolore magna aliqua.'
	},
	{
		icon: 'img/adPlace.png',
		title: 'Your Ad Is Placed',
		info: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut dolore magna aliqua.'
	}
] 
%}

{% set
sliderItem = [
	{
		background: 'img/slider.jpeg',
		title: 'Crowdsourced ad Space',
		subtitle: 'A peer-to-peer advertising platform',
		button: 'Start Selling, now'
	},
	{
		background: 'img/slider.jpeg',
		title: 'Crowdsourced ad Space',
		subtitle: 'A peer-to-peer advertising platform',
		button: 'Start Selling, now'
	},
	{
		background: 'img/slider.jpeg',
		title: 'Crowdsourced ad Space',
		subtitle: 'A peer-to-peer advertising platform',
		button: 'Start Selling, now'
	},
	{
		background: 'img/slider.jpeg',
		title: 'Crowdsourced ad Space',
		subtitle: 'A peer-to-peer advertising platform',
		button: 'Start Selling, now'
	}
] 
%}